:root{
  --top-bar: #313243;
  --navbar:#DAAC02;
  --text:#FFFFFF;
  --button:#3ABECA;
  --bg-clr:#FAC300;
}

/* Topbar CSS Starts here*/

.topbar{
  background: var(--top-bar);
  font-family: 'Roboto', sans-serif;
  font-size: 16;
  font-weight: 500;
}

.topbar a.text-light {
  text-decoration: none !important;
}

/* .icon-background {
  background-color: var(--button);
  padding: 5px 10px;
  border-radius: 50%;
} */




/* Navbar CSS starts here */

.nav-bg{
  background-color: var(--navbar);
}


img.logo-size.img-fluid{
  max-height: 100px;
  max-width: 150px;
}

a.navlink.nav-link{
  color: var(--text);
  font-size: 20;
  font-weight: 700;
}

a.nav-link{
  color: var(--text);
  font-size: 20;
  font-weight: 700;
}

.form-control{
  color: var(--text);
}

.searchicon{
  background:border-box;
  background-color: var(--button);
  padding: 10px 10px;
  color: var(--text);
}

button.btn-primary.getq{
  background: var(--button);
  border: none;
  border-radius: 40px;
  font-weight: 700;
  padding: 10px 24px;
  
}

div.dropdown-menu.show{
  background-color: var(--navbar);
  
}

a.dropdown-item{
  color: var(--text);
  font-size: 20;
  font-weight: 700;
}

.c-height{
  max-height:80vh;
  color:var(--text);
}

.carousel .carousel-indicators button {
  background-color: #3ABECA; /* Change to your desired indicator color */
  border-radius:50%;
  width:10px;
  height:10px;
} 


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Change the alpha value to adjust the transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h2, .overlay h5, .overlay p, .overlay button {
  color: white;
  text-align: center;
}

