:root{
  --top-bar: #313243;
  --navbar:#DAAC02;
  --text:#FFFFFF;
  --button:#3ABECA;
  --bg-clr:#FAC300;
}

/* Topbar CSS Starts here*/

.topbar{
  background: var(--top-bar);
  font-family: 'Roboto', sans-serif;
  font-size: 16;
  font-weight: 500;
}

.topbar a.text-light {
  text-decoration: none !important;
}


/* Navbar CSS starts here */

.nav-bg{
  background-color: var(--navbar);
}
